// Device Breakpoints.
$device__xlarge: 1680px;
$device__large: 1280px;
$device__medium: 980px;
$device__small: 736px;
$device__xsmall: 480px;
$device__xxsmall: 360px;

// Duration.
$duration__transition: 0.2s;
$duration__activation: 1s;

// Size.
$size__border_radius: 0.25em;
$size__border_width: 1px;

// Font.
$font__family: ("Segoe UI", Arial, Helvetica, sans-serif);
$font__weight: normal;
$font__weight_bold: bold;

// Accent.
$color__accent_1: #009975;
$color__accent_1_alt: darken($color__accent_1, 10);
$color__accent_2: #d9cc3c;
$color__accent_2_alt: darken($color__accent_2, 10);
$color__accent_3: #58B368;
$color__accent_3_alt: darken($color__accent_3, 10);
$color__accent_4: #0D3F67;
$color__accent_4_alt: darken($color__accent_4, 10);

// Dark.
$color__background: #111;
$color__background_alt: darken($color__background, 10);

$color__foreground_bold: invert($color__background_alt);
$color__foreground: transparentize($color__foreground_bold, 0.45);
$color__foreground_light: transparentize($color__foreground_bold, 0.65);

$color__card_border: transparentize($color__foreground_bold, 0.85);
$color__card_bg: transparentize($color__foreground_bold, 0.95);
