//@import 'font-awesome.min.css';
@import 'reset';

// Device Breakpoints.
$device__xlarge: 1680px;
$device__large: 1280px;
$device__medium: 980px;
$device__small: 736px;
$device__xsmall: 480px;
$device__xxsmall: 360px;

// Duration.
$duration__transition: 0.2s;
$duration__activation: 1s;

// Size.
$size__border_radius: 0.25em;
$size__border_width: 1px;

// Font.
$font__family: ("Segoe UI", Arial, Helvetica, sans-serif);
$font__family_heading: ("Jost*", "Segoe UI", Arial, Helvetica, sans-serif);
$font__weight: normal;
$font__weight_bold: bold;

// Accent.

//$color__accent_1: #009975;
//$color__accent_1_alt: darken($color__accent_1, 10);
//$color__accent_2: #d9cc3c;
//$color__accent_2_alt: darken($color__accent_2, 10);
//$color__accent_3: #58B368;
//$color__accent_3_alt: darken($color__accent_3, 10);
//$color__accent_4: #0D3F67;
//$color__accent_4_alt: darken($color__accent_4, 10);

$color__accent_1: #09acb8;
$color__accent_1_alt: darken($color__accent_1, 10);
$color__accent_2: #003e53;
$color__accent_2_alt: darken($color__accent_2, 10);
$color__accent_3: #c00521;
$color__accent_3_alt: darken($color__accent_3, 10);
$color__accent_4: #282d2d;
$color__accent_4_alt: darken($color__accent_4, 10);
$color__accent_5: #d3d5d2;
$color__accent_5_alt: #d3d5d2;

// Dark.
$color__background: #111;
$color__background_alt: darken($color__background, 10);

$color__foreground_bold: invert($color__background_alt);
$color__foreground: transparentize($color__foreground_bold, 0.45);
$color__foreground_light: transparentize($color__foreground_bold, 0.65);

$color__card_border: transparentize($color__foreground_bold, 0.85);
$color__card_bg: transparentize($color__foreground_bold, 0.95);

html {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
}
body {
  //width: 100%;
  //width: 100vw;
  height: 100%;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  background: $color__background;
  color: $color__foreground;
  font-family: $font__family;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: x-large;
  font-weight: $font__weight_bold;
  font-family: $font__family_heading;
  color: $color__foreground_bold;
}

.header {
  background: $color__accent_2_alt;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  h1 {
    margin: 20px auto;
  }
}
